/* .InputElement {
    color: #333333;
    font-size: 15px;
    background-color: transparent;
    font-family: "Ubuntu", 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif ;
    padding: 11px 20px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    transition: border 0.1s ease-in;
    padding: 18px 16px;
  }
  
  .InputLabel {
    position: absolute;
    transition: background-color 0.15s ease-in-out,
      color 0.1s ease-in-out, transform 0.15s ease-in-out;
    top: -5px;
    background: white;
    left: 11px;
    padding: 0 5px;
    font-size: 12px;
    color: #959595;
    transform-origin: left;
  }
  
  .InputElement:placeholder-shown ~ .InputLabel {
    color: #959595;
    background-color: transparent;
    transform: translateY(24px) scale(1.25) ;
  }
  
  .InputElement:focus {
    border-color: #4A90E2;
    outline: none;
  }
  
  .InputElement:focus ~ .InputLabel {
    color:#4A90E2;
  }
  
  .InputElement:focus:placeholder-shown ~ .InputLabel {
    color: #959595;
  }
  .InputDiv {
    position: relative;
    margin-bottom: 17px;
    background-color: white;
    border: 1px solid #D3D5DB;
    border-radius: 10px;
  }
  
  .InputElement::placeholder {
    opacity: 0;
  } */

.InputDiv{
  position: relative;
  margin-bottom: 17px;
  background-color: white;
  border: 1px solid #D3D5DB;
  border-radius: 10px;
}

.InputElement {
  color:#232D4C;
  /* color: #333333; */
  font-size: 15px;
  background-color: transparent;
  font-family: "Ubuntu", 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif ;
  padding: 11px 20px;
  border: none;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.1s ease-in;
  padding: 18px 16px;
  padding: 11px 16px;
}

.InputElement:focus {
  border-color: #4A90E2;
  outline: none;
}

.InputLabel {
  font-weight: 500;
  margin-bottom: 8px;
  display: block;
  color:#232D4C;
}

.RadioBox{
  margin-top:20px;
}
.Option{
  color:#232D4C;
  margin-right:20px;
}