@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
}

img{
  overflow: hidden;
}

hr{
  height: 0px;
  border: none;
  border-bottom: 1px solid #D3D5DB;
}


.top-bar{

  height: 59px;
  background: #17203A;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 14px 14px 0px 0px;
}

.cross-button{
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 20px;
  /* left: 31px; */
  margin-top:20px;
  color: #232D4C;
  background-color: #FF5670;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
}

.x-button{
  margin-left: 0.8px;
  width: 8px;
}

.resume-container{
  /* width: 886px; */
  /* height: 400px; */
  padding-bottom: 1px;
  background-color: #FFFFFF;
  box-shadow: 0px 26px 24px -20px rgba(0, 0, 0, 0.25);
  border-radius:  0px 0px 14px 14px;
}

.profilepic{
  margin-top: 31px;
  margin-left: 31px;
  width: 160px;
  height: 154px;
  box-shadow: 0px 22px 20px -13px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  display: inline-block;
  overflow: hidden;
}

.profileimg{
  margin: 0;
  padding: 0;
  width: 160px;
  height: 154px;
  overflow: hidden;
  object-fit: cover;
  object-fit: center;
}

.applicant-info{
  position: relative;
  /* top: 5px; */
  display: inline-block;
  margin-left: 32px;
  margin-top: 31px;
  width: 620px;
  vertical-align: top;
}

.profile-container{
  display: flex;
}

.applicant-name{
  position: relative;
  /* width: 193px; */
  height: 33px;
  /* left: 223px; */
  /* top: 90px; */
  /* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #232D4C;
  margin: 1px;
}

.applicant-details{
  position: relative;
  /* top:125px; */
  /* left:223px; */
/* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #232D4C;
  margin: 1px;
}

.applicant-bio{
  position: relative;
/* height: 34px; */
  /* left: 223px; */
  /* top: 145px; */
  /* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9196A5;
  margin: 1px;
}

.rating-box{
  width: 163px;
  height: 50px;
  background: #F4F4F6;
  border-radius: 10px;
  text-align: center;
  display:inline-block;
}

.rating-text{
  /* font-family: SF Pro Display; */
  position: relative;
  top:10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #4A90E2;
  /* margin-top: 13.5px; */
}


.next-button-container{
  position: absolute;
    top: 0;
    right: -27px;
    height: 100%;
    min-width: 10px;
}
.prev-button-container{
  position: absolute;
    top: 0;
    left: -27px;
    height: 100%;
    min-width: 10px;
}

.next-button{
  position: sticky;
  width: 54px;
  height: 54px;
  top: 40%;
  background: #27272D;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 7px 23px rgb(0 0 0 / 25%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-button{
  position: sticky;
  width: 54px;
  height: 54px;
  top: 40%;
  background: #27272D;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 7px 23px rgb(0 0 0 / 25%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev-button img {
  transform: rotate(180deg);
  flex-grow: 0;
}




.skills-heading{
  /* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9196A5;
  margin-bottom: 8px;
}

.skills-section{
  margin-left: 31px;
  padding-top: 32px;
  margin-bottom: 26px;
}

.skillBox{
  /* height: 23px; */
  border-radius: 4px;
  display: inline-block;
  padding: 4px 11px 4px 11px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.skillText{
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  word-break: break-word;
}

.skills-container{
  display: flex;
}
.compact-skills{
  height: 34px;
  overflow: hidden;
}

.section-section{
  padding: 0 10 0 10;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 50%;;
}

.section-container{
  padding: 28px 18px 28px 48px;
}

.section-title{
  /* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #9196A5;
  padding-bottom: 5px;
}

.project{
  display: inline-block;
  padding: 5px 15px 15px 0;
}

.project-pic{
  width: 30px;
  height: 30px;
  background: #daf7f0;
  /* opacity: 0.2; */
  border-radius: 4px;
  display: inline-block;
}

.courses-pic{
  width: 30px;
  height: 30px;
  background: #fdedd3;
  /* opacity: 0.2; */
  border-radius: 4px;
  display: inline-block;
}

.accomplishments-pic{
  width: 30px;
  height: 30px;
  background: #e1edfa;
  /* opacity: 0.2; */
  border-radius: 4px;
  display: inline-block;
}

.education-pic{
  width: 30px;
  height: 30px;
  background: #ffe9e9;
  /* opacity: 0.2; */
  border-radius: 4px;
  display: inline-block;
}

.experience-pic{
  width: 30px;
  height: 30px;
  background: #ead2ff;
  /* opacity: 0.2; */
  border-radius: 4px;
  display: inline-block;
}

.project-img{
  margin: 7px 8.19px 7px 8px;
}

.education-img{
  margin: 7px 8.19px 7px 5px;
}

.experience-img{
  margin: 9.5px;
}

.project-name{
  position: relative;
  top: -2px;
  display: inline-block;
  margin-left: 10px;
  width: 300px;
}

.project-title{
/* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 230px;
  overflow-wrap: break-word;
}

.project-date{
  /* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #969BA9;
  text-transform: capitalize;
  max-width: 300px;
}

.project-description{
  /* font-family: SF Pro Display; */
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-transform: lowercase;
  margin-top:8px;
  color: #9196A5;
}

.visit-link-button{
  background: #FFFFFF;
  border: 1px solid #4A90E2;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  margin-left: 14px;
  padding: 2px 6px 2px 6px;
  position: relative;
  top: -10px;
}

.title-date-div{
  display: inline-block;
}

.visit-text{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
/* identical to box height */
letter-spacing: -0.01em;
color: #4A90E2;
}

.gold{
  background-color: #ffef99;
  color: #E09320;
}

.silver{
  background-color: #ececed;
  color: #898989;
}

.bronze{
  background-color: #e7d2c1;
  color: #AF6E38;
}

.no-level{
  border: 1px solid #D4D5DA;
  color: #000;
}


.loading{
  height: 23px;
  width: 64px;
  background-color: #e7e7e7;
}

.tagRemoverButton{
  margin-left: 13px;
}