@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

button{
  background-color: transparent;
  border: none;
}

.home-top-bar{
  padding-top: 45px;
}

.logo{

}

.no-slider-container{
  text-align: center;
}

.log-out{
  position:absolute;
  background: #FFFFFF;
  border: 1px solid #4A90E2;
  box-sizing: border-box;
  border-radius: 10px;
  width: 127px;
  height: 51px;
}

.job-postings{
  /* font-family: SF Pro Display; */
  margin-top: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: #000000;
}

.middle-container{
  margin-top: 30px;
}

.slide-container{
  display: flex;
  align-items: center;
  max-width: 100%;
  /* justify-content: center; */
  /* overflow-y: auto; */
  /* vertical-align: center; */
}

.single-item{
  text-align: center;
  cursor: pointer;
}

.items-container{
  display: flex;
  /* overflow-y: hidden; */
  /* width: 100%; */
  padding-left: 20px;
  padding-right: 73px;
  box-sizing: border-box;
}

.items-container::-webkit-scrollbar{
  display: none;
}

.card{
  display: inline-block;
  background-image: url('./background-1.svg');
  width: 363px;
  height: 362px;
  margin: 15px;
  border: 1px solid #D4D5DA;
  box-sizing: border-box;
  border-radius: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.slider-button{
  position: fixed;
  z-index: 1;
  background: #FFFFFF;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  width: 65px;
  height: 65px;
  text-align: center;
  vertical-align: center;
  align-items: center;
}

.right-arrow{
  right:50px;
}

.left-arrow{
  left:50px;
}

.card-logo{
  height: 65px;
  float: left;
  margin-left: 18px;
  margin-top: 25px;
}

.card-container{
  width: 326px;
  height: 186px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(44px);
  border-radius: 15px;
  margin: auto;
  margin-top: 15px;
  text-align: left;
}

.job-title{
  /* Android Developer */

position: absolute;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;
color: #232D4C;
top: 19px;
left: 17px;

}

.i-button{
  position: absolute;
  right: 18px;
  top:30px;
  width: 15px;
  height: 15px;
}

.job-details{
  position: absolute;
  width: 193px;
  height: 17px;
  left: 18px;
  top: 56px;
  /* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #232D4C;
}

.students-applied{
  position: absolute;
  height: 18px;
  left: 18px;
  top: 98px;
  /* font-family: SF Pro Display; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #232D4C;
}

.students-number{
position: absolute;
width: 56px;
height: 53px;
left: 18px;
top: 116px;
/* font-family: SF Pro Display; */
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 53px;
color: #4A90E2;
}

.bottom-container{
  text-align: center;
  justify-content: center;
}

.hidden{
  display: none;
}

.announcement-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.25;
  background: linear-gradient(270deg, #44D7B6 0%, #3BB0EA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.home-container{
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(166.67% 269.75% at 85.98% 167.57%, #DCE8F6 0%, #FFFFFF 100%);
}

@media (max-width: 1200px){
  .announcement-text{
    font-size: 3.2rem;
  }
}
